*.log
*.pyc
*.py[cod]
*$py.class
*.so
*~
*config.json
.ftpconfig
.remote-sync.json
__pycache__/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
env/
venv/
ENV/
.pythonlibs/
*.sqlite3
*.db
.DS_Store
